In [2]:
import pandas as pd
from sklearn.datasets import load_iris

iris = load_iris()
iris_df = pd.DataFrame(data=iris['data'], columns=iris['feature_names'])

Pandas ofrece una manera muy sencilla de detectar y quitar las entradas duplicadas
# Duplicados

metodo: duplicated devuelve una máscara booleana que indica si una entrada de un objeto DataFrame es un duplicado de otro anterior

In [3]:
example6 = pd.DataFrame({'letters': ['A','B'] * 2 + ['B'],
                         'numbers': [1, 2, 1, 3, 3]})
example6

  letters  numbers
0       A        1
1       B        2
2       A        1
3       B        3
4       B        3

Comprobar si hay duplicados

In [4]:
example6.duplicated()

0    False
1    False
2     True
3    False
4     True
dtype: bool

Eliminar duplicados

drop_duplicates devuelve una copia de los datos en donde todos los valores duplicados son false

In [5]:
example6.drop_duplicates()

  letters  numbers
0       A        1
1       B        2
3       B        3

Los datos duplicados pueden cambiar los resultados de los análisis y generar resultados falsos