In [1]:
import numpy as np
import pandas as pd

In [14]:
rng = np.random.RandomState(42)
ser_example = pd.Series(rng.randint(0, 10, 4))
print(ser_example)
np.exp(ser_example)

0    6
1    3
2    7
3    4
dtype: int32

0     403.428793
1      20.085537
2    1096.633158
3      54.598150
dtype: float64

In [15]:
df_example = pd.DataFrame(rng.randint(0, 10, (3, 4)),
                  columns=['A', 'B', 'C', 'D'])
print(df_example)
np.cos(df_example * np.pi / 4)

   A  B  C  D
0  6  9  2  6
1  7  4  3  7
2  7  2  5  4

              A             B             C             D
0 -1.836970e-16  7.071068e-01  6.123234e-17 -1.836970e-16
1  7.071068e-01 -1.000000e+00 -7.071068e-01  7.071068e-01
2  7.071068e-01  6.123234e-17 -7.071068e-01 -1.000000e+00